<svg:foreignObject [attr.x]="model.box.x" [attr.y]="model.box.y" [attr.width]="model.box.width" [attr.height]="model.box.height"
 (mousedown)="onClick($event)">
	<xhtml:div [ngClass]="{'node': true, 'active': model.active, 'selected': model.selected}">
		<div class="block title">
			<!--<input  *ngIf="model.active" [(ngModel)]="model.title" placeholder="title" />
    <span *ngIf="!model.active">{{model.title}}</span>-->
			<span>{{model.title}}</span>
    </div>
    <ng-container *ngFor="let field of model.fields" >
      <div *ngIf="field.formBehavior=='none'"  [ngClass]="{'block':true, 'output': field.outputBehavior!='none' }">
        {{field.title}}
      </div>
      <div *ngIf="field.formBehavior=='string' || field.formBehavior=='number'"  [ngClass]="{'block':true, 'form': true }">
        <label>{{field.title}}</label>:<input type="text" (focus)="editing()" 
        (blur)="edited()" [(ngModel)]="field.value"></input>
      </div>
      <ng-container *ngFor="let child of field.children;let i =index" >
        <div  class="block item">{{child.title}}[{{i}}]</div>
      </ng-container>
    </ng-container>
  </xhtml:div>
</svg:foreignObject>