<svg:foreignObject [attr.x]="model.box.x" [attr.y]="model.box.y" [attr.width]="model.box.width" [attr.height]="model.box.height"
 (mousedown)="onClick($event)">
	<xhtml:div [ngClass]="{'noselect':true, 'node': true, 'selected': model.selected}">
		<div class="block title">
			<!--<input  *ngIf="model.selected" [(ngModel)]="model.title" placeholder="title" />
    <span *ngIf="!model.selected">{{model.title}}</span>-->
			<span>{{selected}} {{model.title}}</span>
    </div>
    <ng-container *ngFor="let field of model.fields" >
      <div  [ngClass]="{'block':true, 'output': field.outputBehavior!='none' }">{{field.title}}</div>
      <ng-container *ngFor="let child of field.children;let i =index" >
        <div  class="block item">{{child.title}}[{{i}}]</div>
      </ng-container>
    </ng-container>
  </xhtml:div>
</svg:foreignObject>