<header id="titlebar" [ngClass]="{'maximized':isMaximized}">
  <div id="content">
    <img src="assets/blueprint-icon.svg" class="icon">
    <span>
      <select>
        <option>workspace</option>
        <option>group1</option>
        <option>group2</option>
      </select>
    </span>
  </div>
  <div id="title">
    Blueprint
  </div>
  <div id="window-controls">
    <button (click)="minimize()">🗕</button>
    <button (click)="maximize()">🗖</button>
    <button (click)="unmaximize()" [ngClass]="{'maximized':isMaximized}">🗗</button>
    <button class="button" (click)="close()" id="close-button">🗙</button>
  </div>
</header>