<header id="titlebar" [ngClass]="{'maximized':isMaximized}">
  <div id="content">
    <span>
      <img src="assets/blueprint-icon.svg" class="icon">
    </span>
    <span>
      <select>
        <option>workspace</option>
        <option>group1</option>
        <option>group2</option>
      </select>
    </span>
  </div>
  <div id="title">
    Blueprint
  </div>
  <div id="window-controls">
    <button class="default" (click)="minimize()">🗕</button>
    <button class="default" (click)="maximize()" *ngIf="!isMaximized">🗖</button>
    <button class="default" (click)="unmaximize()" *ngIf="isMaximized">🗗</button>
    <button class="important" (click)="close()">🗙</button>
  </div>
</header>